
.form-post input {
    /* padding-left: 0px; */
    width: 170px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: 1px solid grey;
    padding-left: 15px;
}
.form-post textarea{
    border-radius: 4px;
    border: 1px solid grey;
    padding-left: 15px;
}
.form-post {
    font-size: large;
}

.error1 {
    color: coral; /* Thay đổi màu chữ ở đây */
    font-size: small;
    font-style: italic;
    width: 50px;
    padding-top: 4px;
}
.table-post {
    max-height: 470px; /* Chiều cao tối đa của table */
    /*max-width: 1150px; !* Chiều cao tối đa của table *!*/
    overflow-y: auto; /* Thêm thanh cuộn dọc */
    overflow-x: auto;
    white-space: nowrap;
}


button[type="button"]{
    white-space: nowrap;
}

.my-select {
    border: none;
    outline: none;
    /*appearance: none; !* Loại bỏ mặc định của trình duyệt *!*/
}

#date input {
    width: 120px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid grey;
    padding-left: 8px;
    padding-right: 8px;
}
#date button {
    width: 95px;
    height: 35px;
}
.date {
    width: 160px;
    height: 35px;
    border-radius: 6px;
    /*border-color: grey;*/
    border: 1px solid grey;
}
.file {
    height: 32px;
    border: grey 1px solid;
    border-radius: 3px;
}
/*.editor {*/
/*    width: 100%;*/
/*    !*height: 320px;*!*/
/*    !*max-height: 330px; !* Chiều cao tối đa của table *!*!*/
/*    !*max-width: 1150px; !* Chiều cao tối đa của table *!*!*/
/*    overflow-y: auto; !* Thêm thanh cuộn dọc *!*/
/*    !*overflow-x: auto;*!*/
/*}*/
.test {
    margin-left: 7%;
    width: 86%;

    /*max-height: 600px;*/
}
.teste {
    /*min-width: 86%;*/
    /*display: block;*/
    /*max-height: 330px;*/
    /*overflow-y: auto;*/
}
