.modal-dialog {
  /* top: 187px; */
}
.vivi {
  top: 180px;
}
.k-btn {
  position: absolute;
  bottom: -54px;
  right: 92px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: white;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 17px;
}
.k-btn:hover {
  background-color: #0c5eda;
}
