label {
    width: 150px;
    font-size: medium;
    margin-top: 24px;
    margin-bottom: 20px;
    /* padding-right: 0px; */
}
input {
    /* padding-left: 0px; */
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}